body{
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
}

.card{
  background:#1e293b;
  width:320px;
  margin:50px auto;
  padding:20px;
  border-radius:12px;
}

#igrat{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:black;
  font-size:16px;
  cursor:pointer;
}
#igrat:hover{
  background:#16a34a;
}
